#tagsinput {
    display: flex;
    flex-direction: column-reverse;
}
#tagsinput .react-tagsinput-tag {
    background: #EDEDEC !important;
    border-radius: 0.2em;
    margin: 0.2em;
    padding: 0.2em;
}

#tagsinput .react-tagsinput-input {
    margin: 0.2em;
}